a:link, a:visited {
		text-decoration:none;
  		color: Pink;
  		border: 2px solid purple;
		border-radius: 10px;
 		padding: 5px 10px;
 		text-align: center;
  		display: inline-block;
		}
		a:hover, a:active {
		text-decoration:none;
  		background-color: pink;
  		color: Black;
		}

		.nav {
		  background-color: rgba(103,51,181,0.4);
		  list-style-type: none;
		  text-align: center;
		  margin: 0;
		  padding: 0;
		}
		.nav li {
		  display: inline-block;
		  font-size: 20px;
		  padding: 20px;
		}
		body {
		background-image:url("https://i.imgur.com/GWWB5CW.png");
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
		}
		h1 {
		  color: White;
		  text-align: center;
		}
		p {
		  color:White;
		}
		div {
		  color:White;
		}